/* GENERAL STYLING */

body {
  font-family: 'nintendoP_Humming-E_002pr';
  background-color: #EDF2F4;
  color: #2B2D42;
}

h1 {
  font-family: 'FinkHeavy';
  color: #2B2D42;
}

/* NAVBAR STYLING */

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  background-color: #2B2D42;
  height: 70px;
}

.navbar .buttons {
  grid-area: 1 / 1 / 2 / 3; 
  width: 150%;
}

.navbar .silos {
  grid-area: 1 / 3 / 2 / 4;
  margin-left: auto;
}

.navbar .buttons .navbarbutton {
  font-family: 'nintendoP_Humming-E_002pr';
  font-size: 85%;
  color: #EDF2F4;
  text-decoration: none;
  text-align: center;
  float: left;
  border: none;
  margin-right: 20px;
  margin-left: 25px;
}

button#logout{
  background-color: #2B2D42;
}

#login:hover{
  color: #FCBA04;
}

#logout:hover{
  color: #FCBA04;
  cursor: pointer;
}

#signup:hover{
  color: #72B01D;
}

#upload:hover{
  color: #72B01D;
}

#search:hover{
  color: #D90429;
}

#page:hover{
  color: #8075FF;
}

#home:hover{
  color: #F2542D;
}

#gallery:hover{
  color: #92DCE5;
}

/* HOME PAGE STYLING */

.homecontent .hometext {
  margin-left: 1%;
}

.homecontent .scrollingwrapper {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  width:100vh;
  height: 98vw;
  margin-left: 1%;
}

.homecontent .scrollingwrapper .redditdata {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  display: flex;
}

 .homecontent .redditdata .redditcard {
  background-color: #CCDBE0;
  background-size: cover;
  border: 2px solid #01372d;
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-top: 15px;
}

.homecontent .redditdata .redditcard .forthaborder {
  color: #2B2D42;
  background-color: #EDF2F4;
  height: 390px;
  width: 345px;
  padding-bottom: 5px;
  border: 2px solid #01372d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redditimgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 345px;
}

.reddithrefcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 60px;
}

.rtc {
  display: flex;
  align-items: center;
  margin-left: 5px;
  height: 100px;
  margin-bottom: 10px;
}

img.redditimg {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

a.reddithref {
  color: #2B2D42;
  font-size: 12px;
  text-decoration: none;
  height: 50px;
  width: 150px;
}

a.reddithref:hover{
  color: #72B01D;
}

/* LOGIN/SIGNUP FORM STYLING */

.formparent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.wc {
  grid-area: 2 / 1 / 3 / 2;
  display: inline-flex;
}

.wc .welcomecontainer{
  display: inline-block;
  position: relative;
  background: #92DCE5;
  border-radius: .4em;
  margin-left: 15%;
  height: 60px;
  justify-content: center;
  text-align: center;
  border: 3px solid #FCBA04;
}

.wc .welcomecontainer .sticker{
  position: relative;
  margin-right: 200px;
}

.welcomecontainer:before {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 60px solid transparent;
	border-top-color: #FCBA04;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20px;
	margin-bottom: -60px;
}

.welcomecontainer:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-top-color: #92DCE5;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17px;
  margin-bottom: -50px;
}

.formcontainer {
  grid-area: 1 / 2 / 2 / 3;
  width: 90%;
  height: 100%;
  margin-left: auto;
}

.formcontainer .submitbutton .sb {
  font-family: 'nintendoP_Humming-E_002pr';
  background-color: #EDF2F4;
  width: 47%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 3px solid #92DCE5;
  border-radius: .4em;
  text-align: center;
  color: #2B2D42;
}

.formcontainer .submitbutton .sb:hover{
  cursor: pointer;
  background-color: #92DCE5;
  border: 3px solid #FCBA04;
  text-decoration: underline wavy #FCBA04;
}

.formcontainer .inputfields .usernameform {
  background-color: #EDF2F4;
  font-family: 'nintendoP_Humming-E_002pr';
  width: 45%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border: 3px solid #FCBA04;
  border-radius: .4em;
  margin-bottom: 1%;
}

.formcontainer .inputfields .usernameform:focus {
  outline: none;
  border: 3px solid #92DCE5;
  text-decoration: underline wavy #FCBA04;
  text-underline-position: under;
}

.formcontainer .inputfields .passwordform{
  background-color: #EDF2F4;
  font-family: 'nintendoP_Humming-E_002pr';
  width: 41%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border: 3px solid #FCBA04;
  border-radius: .4em;
  margin-left: 0.5%;
}

.formcontainer .inputfields .passwordform:focus{
  outline: none;
  border: 3px solid #92DCE5;
  text-decoration: underline wavy #FCBA04;
  text-underline-position: under;
}

/* SEARCH PAGE STYLING */

.searchpage{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80vh;
  width: 100vw;
}

.searchpage .searchformcontainer {
  grid-area: 1 / 1 / 2 / 2;
  width: 50%;
  display: inline-block;
  margin-left: 15%;
  margin-right: 15%;
}

.searchpage .searchformcontainer .searchpageforms {
  box-sizing: border-box;
  border-radius: .4em;
  height: 30px;
  font-size: 12px;
  width: 70%;
  font-family: 'nintendoP_Humming-E_002pr';
  outline: none;
}

.searchpage .searchformcontainer .searchpageforms:focus {
  border-color: #D90429;
}

.searchpage .searchformcontainer .searchpagereset {
  font-family: 'nintendoP_Humming-E_002pr';
  font-size: 10px;
  height: 25px;
  width: 33%;
  border-radius: .4em;
  background-color: #2B2D42;
  color: #EDF2F4;
  outline: none;
}

.searchpage .searchformcontainer .searchpagereset:hover{
  cursor: pointer;
}

.searchpage .searchformcontainer .searchbar .searchtextbox {
  margin-top: 10%;
  height: 25px; 
  width: 67%;
  border-radius: .4em #aaa;
  outline: none;
  font-family: 'nintendoP_Humming-E_002pr';
}

.searchpage .searchformcontainer .searchbar .searchtextbox:focus {
  border-color: #D90429;
}

.searchpage .searchformcontainer .searchbar .submitbutton .searchpagesubmit {
  margin-top: 5%;
  height: 25px;
  width: 33%;
  font-family: 'nintendoP_Humming-E_002pr';
  font-size: 10px;
  border-radius: .4em;
  background-color: #2B2D42;
  color: #EDF2F4;
  outline: none;
}

.searchpage .searchformcontainer .searchbar .submitbutton .searchpagesubmit:hover {
  cursor: pointer;
}

.searchpage .searchresultscontainer {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 105%;
  justify-content: center;
  align-items: center;
  margin-left: -25%;
  margin-top: 2%;
}

.searchpage .searchresultscontainer .basicitemcard {
  width: 45%;
  height: 45%;
  border: 2px solid #01372d;
  margin-right: 3%;
  margin-top: 3%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.searchpage .searchresultscontainer .basicitemcard .itemicon {
  width: auto;
  height: auto;
  max-width: 40%;
}

.searchpage .searchresultscontainer .basicitemcard .moreinfo {
  border: 2px solid #2B2D42;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 13%;
  width: 75%;
  border-radius: 10px;
}

.searchpage .searchresultscontainer .basicitemcard .moreinfo:hover {
  border: 2px solid #D90429;
  background-color: #D90429;
  color: #EDF2F4;
  text-decoration: underline wavy #EDF2F4;
  text-underline-position: under;
  cursor: pointer;
}

.searchpage .selecteditemcontainer {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.searchpage .selecteditemcontainer .detailedinfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 2px solid #2B2D42;
  height: 75%;
  width: 95%;
}

.searchpage .selecteditemcontainer .detailedinfo .baseinfo {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-left: 10%;
  align-items: center;
}


.searchpage .selecteditemcontainer .detailedinfo .baseinfo .addorremove:hover {
  color: #D90429;
  cursor: pointer;
}

.searchpage .selecteditemcontainer .detailedinfo .detailpic {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.searchpage .selecteditemcontainer .detailedinfo .detailpic .itemimage {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

.searchpage .selecteditemcontainer .detailedinfo .extradetails {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-left: 2%;
}

/* PROFILE STYLING */

.profilepage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 90vh;
  width: 99vw;
  margin-top: .5%;
  margin-left: .5%;
}

.profilepage .username {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.profilepage .uservillagers {
  grid-area: 1 / 2 / 3 / 4;
  height: 100%;
  width: 100%;
}

.profilepage .uservillagers .emptyvillagers {
  text-align: center;
  margin-top: 10%;
}

.profilepage .uservillagers .villagercard {
  display: inline-flex;
  height: 40%;
  width: 17%;
  background-color: #92DCE5;
  margin-left: .5%;
  margin-bottom: .5%;
  border-radius: 15px;
}

.profilepage .uservillagers .villagercard .villager {
  height: 100%;
  width: 100%;
}


.profilepage .uservillagers .villagercard .villager .villagericon {
  display: flex;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  margin-top: 5%;
  margin-bottom: -10%;
}

.profilepage .uservillagers .villagercard .villager .villagername {
  font-size: 100%;
  text-align: center;
}

.profilepage .uservillagers .villagercard .villager .villagerbutton {
  float: right;
  margin-right: 5%;
  color: #EDF2F4;
  background-color: #F2542D;
  border: 1px solid #2B2D42;
  border-radius: 50%;
  outline: none;
}

.profilepage .uservillagers .villagercard .villager .villagerbutton:hover {
  background-color: #2B2D42
}

.profilepage .userpics {
  grid-area: 3 / 2 / 5 / 4;
  width: 86%;
  display: flex;
  flex-wrap: wrap;
  margin-left: .5%;
  padding-left: 1%;
  background-color: #B59DA4;
  border-radius: 15px;
  margin-right: 12.5%;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
  margin-top: -6%;
}

.profilepage .useritems {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #7DC95E;
  border-radius: 15px;
  margin-bottom: 12%;
  margin-top: -6%;
}

.profilepage .useritems .itemicon {
  width: auto;
  height: auto;
  max-width: 40%;
}


.profilepage .useritems .userbugs {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  margin-top: 20%;
}

.profilepage .useritems .userfish {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  margin-top: 20%;
}

.profilepage .useritems .userfossils {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  margin-bottom: 20%;
}

.profilepage .useritems .userseacreatures {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  margin-bottom: 20%;
}

/* UPLOAD IMAGE STYLING */

.uploadimage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 99vw;
  height: 90vh;
  justify-content: center;
}

.uploadimage .uploadimagecamera {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.uploadimage .uploadimageform {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  margin-left: 45%;
  margin-top: -50px;
}

.uploadimage .uploadimageform .uploadimageformtag {
  font-family: 'nintendoP_Humming-E_002pr';
  background-color: #EDF2F4;
  color: #2B2D42;
  font-size: 15px;
  height: 7%;
  width: 51%;
  outline: none;
  border: 2px solid #2B2D42;
  border-radius: 5px;
}

.uploadimage .uploadimageform .uploadimageformdescription {
  background-color: #EDF2F4;
  border: 2px solid #2B2D42;
  border-radius: 5px;
  color: #2B2D42;
  height: 6%;
  font-family: 'nintendoP_Humming-E_002pr';
  width: 48.5%;
  margin-bottom: 1%;
  outline: none;
}

input[type="file"] {
  display: none;
}

.uploadimage .uploadimageform .fileuploadcontainer {
  margin-bottom: 1%;
}

.uploadimage .uploadimageform .fileuploadcontainer .fileupload {
  text-align: center;
  border: 2px solid #2B2D42;
  border-radius: 5px;  color: #2B2D42;
  cursor: pointer;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.uploadimage .uploadimageform .fileuploadcontainer .fileupload:hover{
  background-color: #2B2D42;
  color: #EDF2F4;
}

.uploadimage .uploadimageform .uploadimageformsubmit {
  cursor: pointer;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: .2%;
  padding-bottom: .2%;
  font-family: 'nintendoP_Humming-E_002pr';
  background-color: #EDF2F4;
  border: 2px solid #2B2D42;
  border-radius: 5px;  color: #2B2D42;
}

.uploadimage .uploadimageform .uploadimageformsubmit:hover {
  background-color: #2B2D42;
  color: #EDF2F4;
}

/* GALLERY STYLING */

.gallerycontainer {
  text-align: center;
  width: 99vw;
  height: 100vh;
}

.gallerycontainer .galleryfilter {
  margin-top: .5%; 
}

.gallerycontainer .galleryfilter .galleryfilterform {
  background-color: #EDF2F4;
  border: 2px solid #2B2D42;
  border-radius: 5px;
  color: #2B2D42;
  font-family: 'nintendoP_Humming-E_002pr';
  outline: none;
  padding-top: .5%;
  padding-bottom: .5%;
}

.gallerycontainer .galleryphotos {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  width:100vh;
  height: 98vw;
  margin-left: 1%;
  margin-top: 5%;
}

.gallerycontainer .galleryphotos .galleryphotos2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  display: flex;
}

/* PHOTO CARD STYLING */

.photocard {
  margin-top: 1%;
  margin-right: 1%;
  display: inline-block;
  font-size: 10px;
}

.photocard .photocardimg {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 345px;
}

/* ERROR STYLING */

.error {
  background-color: red;
  text-align: center;
}