body {
  font-family: 'nintendoP_Humming-E_002pr';
  background-color: #EDF2F4;
}

h1 {
  font-family: 'FinkHeavy';
}

.navbar {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  background-color: #2B2D42;
  height: 70px;
}


.navbar .buttons {
  grid-area: 1 / 1 / 2 / 2; 
}
.navbar .silos {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: auto;
}

.navbar .buttons .navbarbutton {
  font-family: 'nintendoP_Humming-E_002pr';
  color: #EDF2F4;
  text-decoration: none;
  text-align: center;
  float: left;
  border: none;
  margin-right: 20px;
}

.homecontent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.homecontent .redditdata {
  grid-area: 1 / 2 / 2 / 3;  display: inline-block;
  justify-content: center;
  margin-top: 20px;
  margin-right: 20px;
}

.homecontent .redditdata .redditcard {
  border: solid #01372d;
  border-radius: 15px 15px;
  margin-top: 20px;
}

.homecontent .redditdata .redditcard .redditimgcontainer {
  border-bottom: solid #01372d;
}

.homecontent .redditdata .redditcard .reddittitle {
  color: #01372d;
  margin-left: 20px;
}

.homecontent .redditdata .redditcard .reddithrefcontainer {
  background-image: url('https://preview.redd.it/y5mzeig307b41.png?auto=webp&s=3fcdd59b348f091cd1ada9627a3f58aa993cf926');
  border-radius: 0px 0px 15px 15px;
}

img.redditimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

a.reddithref {
  font-size: 12px;
  text-decoration: none;
  color: #01372d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 150px;
  border-left: solid #01372d;
  border-right: solid #01372d;
  background: rgba(255, 255, 255, 0.5);
}

a.reddithref:hover {
  background-color: #5ADBC5;
}

.homecontent .homeimage {
  grid-area: 1 / 1 / 5 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}